body 
{ font-family: Arial, sans-serif; margin: 0; padding: 0; background: #f9f9f9; color: #333;  }
    
header {background: #2a7ae2; color: white; padding: 1em; text-align: center;   }

video{ align-self: auto; padding: 1em; border: none; border-radius: 8px; }    

main { padding: 1em; max-width: 800px; margin: auto; background: white; }

p { font-size: xx-large; font-family: 'Times New Roman', Times, serif}

p2{ font-family:'Times New Roman', Times, serif}

h1 {color:white}

h2 { color: #2a7ae2; font-size: x-large; }

h3 { color: #2a7ae2; font-size: x-large; text-align: center;}
   
ul { list-style: none; padding: 0; }
    
li { margin: 0.5em 0;  font-size:large; font-family: 'Times New Roman', Times, serif;}
    
img { width: 80%; border-radius: 20px; margin: auto; display: block;}
   
iframe { width: 100%; height: 450px; border: none; border-radius: 8px; }
   
footer { text-align: center; padding: 1em; font-size: 0.9em; color: #666; }
 

