body 
{ font-family: Arial, sans-serif; margin: 0; padding: 0; background: #f9f9f9; color: #333;  }
    
header {
    background: #2a7ae2; color: white; padding: 1em; text-align: center;
 }
    
main { 
    padding: 1em; max-width: 800px; margin: auto; background: white; 
}
    
h1, h2 { 
    color: #2a7ae2; font-size: x-large; 
}
   
ul { 
    list-style: none; padding: 0; 
}
    
li { 
    margin: 0.5em 0;
 }
    
img { 
    width: 80%; border-radius: 20px; margin: 1em 0;
 }
   
iframe { 
    width: 100%; height: 200px; border: none; border-radius: 8px; 
}
   
footer { 
    text-align: center; padding: 1em; font-size: 0.9em; color: #666
    ; }
